<h2>About Skemu</h2>
<p>Skemu helps you get more out of your data</p>

<h2>Expertise</h2>
<ul>
  <li>Information architecture</li>
  <li>Semantic information modeling</li>
  <li>Linked data</li>
</ul>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="https://www.linkedin.com/in/panomaria/">Pano Maria</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/pmaria">GitHub Repository</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-envelope fa-lg main-list-item-icon"></span>
    <a href="mailto:info@skemu.com">info@skemu.com</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-phone fa-lg main-list-item-icon"></span>
    +31 (0) 6 2427 0233
  </li>
</ul>
